html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(167, 183, 171);
  }
  
  main {
    max-width: 600px;
    margin: 0 auto;
  }
  
  section {
    margin-top: 100px;
    display: grid;
    place-items: center;
    border: 2px solid rgb(196, 20, 20);
    padding: 40px;
    background-color: #f1dbd0;
  }
  
  h1 {
    font-size: 2rem;
  }
  